<section class="section brd-btm" id="blog">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">技术博客</h2>

            <div class="ref-box hreview">
                <dd><a href="{{ site.baseurl }}/blogs/transformer_mask_usages.md">Transformer中mask的两种用法</a></dd>
                <dd><a href="{{ site.baseurl }}/blogs/transformer_mask_usages.md">Transformer中mask的两种用法</a></dd>
            </div><!-- .ref-box -->




        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->