<section class="section brd-btm" id="education">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
        <h2 class="title-thin text-muted">教育经历</h2>
            <div class="col-sm-12 clear-mrg bingpaipailie">
 

                <div class="ref-box hreview">
                    <div class="ref-avatar">
                        <img alt="" src="{{ '/styles/img/cuhk.jpg' | prepend: site.baseurl }}" class="avatar avatar-54 photo" height="54" width="54">
                    </div>

                    <div class="ref-info">
                        <div class="ref-author">
                            <strong>香港中文大学</strong>
                            <span>2017 - 2018 | 数学</span>
                        </div>
                    </div>
                </div>

                    
                <div class="ref-box hreview">
                    <div class="ref-avatar">
                        <img alt="" src="{{ '/styles/img/dlut.jpg' | prepend: site.baseurl }}" class="avatar avatar-54 photo" height="54" width="54">
                    </div>

                    <div class="ref-info">
                        <div class="ref-author">
                            <strong>大连理工大学</strong>
                            <span>2013 - 2017 | 信息与计算科学</span>
                        </div>
                    </div>
                </div>

            </div>


        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->